
/* Para todo */

a {
    text-decoration: none;
}
body { 
    margin: 0px;
}

/* Header estilos */

header {
    height: 10vh;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    position: relative;
    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        #nba_logo {
            height: 70px;
        }
        h1 {
            margin: 0px;
            text-align: center;
            color: black;
        }
    }

    .redes_header {
        list-style: none;
        display: flex;
        gap: 20px;
        margin: 0;
        padding: 10px;
        img {
            width: 40px;
            height: 40px;
        }
        li {
            display: inline-block;
        }
    }
} 

/* Main */

.team_logos {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    #grupo {
        max-width: 1080px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    img {
        width: 100px;
        height: 100px;
        margin: 8px;
        z-index: -1;
        &:hover {
                transform: scale(1.2, 1.2);
                cursor: pointer;
            }
    }
}

.item {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
}

.accordion {
    cursor: pointer;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}


/* Info oculta  */
.accordion-content {
    display: grid;
    grid-template-columns: 11.6% 88.4%; 
    grid-template-rows: 17.3% 82.7%; 
    gap: 0px 14px;
    grid-auto-flow: row;
    grid-template-areas:
        ". ."
        ". .";
    margin: 0;
    position: absolute;
    align-items: center;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    justify-content: center;
    margin: 10px;
    background-color: #FCF48D;
    width: 90%;
    height: 80vh;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.6s ease-in-out;
    transition: max-height 0.6s ease-in-out;
    font-size: 1rem;
    line-height: 1.7;
    
    .close_btn {
        font-size: 30px;
        color: #545151;
        width: 40px;
        height: 40px;
        cursor: pointer;
        position: absolute;
        right: 1rem;
        top: 1rem;
        border-radius: 28px;
        border: 2px solid #ff1b1b73;
        background-color: #ff5b5be3;
        box-shadow: 7px 6px 21px 2px rgba(0, 0, 0, 0.47);
    }
}


/* Media querys */

@media (max-width: 1045px) and (min-width: 550px) {
   
    .team_logos {
        width: 80%;
        margin: auto;
    }
}

@media (max-width: 550px) {
    header {
        margin-bottom: 150px;
        display: inline-flex;

    }
    .team_logos {
        #grupo { 
            display: grid;
            position: relative;
            
            grid-template-columns: 33% 33% 33%;
            grid-gap: 5px;
        }
    }
}